html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

div.content-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

div.photos {
  display: inline-block;;
  width: 80%;
  margin: auto;

  position: relative;

  margin-top: -20px;
  margin-right: -75px;
}

#first-wrapper, #second-wrapper {
  display: inline-block;
}

#first-name, #second-name {
  display: inline-block;
  z-index: 14;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#second-img {
  opacity: 0;
}

#first-name p {
  font-family: 'Princess Sofia', cursive;
  font-size: 70px;
  opacity: 1;
}

#first-name {
  margin-left: -100px;
}
