/* Further styling for page about Ferals */

div.photos {
  margin-top: 50px;
  /*margin-right: -75px;*/
}

#first-name {
  margin-left: -100px;
}

#second-name {
  margin-left: 100px;
  margin-top: -15px;
}

#first-name p {
  font-family: 'Rock Salt', cursive;
  font-size: 60px;
  opacity: 0;
}

#second-name p {
  font-family: 'Caveat', cursive;
  font-size: 75px;
  opacity: 0;
}

#surname p {
  font-family: 'Times New Roman', serif;
  font-size: 80px;
  margin-top: -10px;
  font-weight: 700;
}
