html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  width: 100%;
  position: relative;
}

div.content-wrapper {
  width: 100%;
}

.image-wrapper, .text-wrapper {
  display: inline-block;
  position: absolute;

}

.image-wrapper {
  width: 50%;
  text-align: center;
  left: 55%;
  margin: auto 0;
}

.text-wrapper {
  width: 40%;
  left: 15%;
  margin-top: 80px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}
