/* Further styling for page about Rockets */

div.photos {
  margin-top: -20px;
  margin-right: -75px;
}

#first-name {
  margin-left: -100px;
}

#second-name {
  margin-right: -200px;
}

#first-name p {
  font-family: 'Princess Sofia', cursive;
  font-size: 70px;
  opacity: 0;
}

#second-name p {
  font-family: 'Schoolbell', cursive;
  font-size: 70px;
  opacity: 0;
}

#surname p {
  font-family: 'Times New Roman', serif;
  font-size: 80px;
  margin-top: -10px;
  font-weight: 700;
}
