/* Further styling for page about Rockets */

body {
  background-color: black;
  color: white;
}

div.photos {
  margin-top: 0;

}

#first-wrapper, #second-wrapper {
  display: inline-block;
}

#first-name p {
  font-family: 'Princess Sofia', cursive;
  font-size: 70px;
  opacity: 0;
}

#second-name p {
  font-family: 'Schoolbell', cursive;
  font-size: 70px;
  opacity: 0;
}
