body {
  background-color: #fff;
  color: #000;
}

h1 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 55px;
  margin-bottom: 0;
}

.image-wrapper {
  margin-top: 30px;
  margin-left: -50px;
}

.text-wrapper {
  margin-top: 20px;
}
